{% extends 'base.html.twig' %}

{% block title %}Le leadership de Kirikou{% endblock %}

{% block body %}
    <div class="d-none d-lg-flex">
        <img style="margin-top: 50px" src="{{ asset('assets/images/pouvoir-bg.jpg') }}">
    </div>
    <div class="d-flex d-lg-none">
        <img style="margin-top: 70px" src="{{ asset('assets/images/mobile.jpg') }}">
    </div>
    <div class="row mt-4" style="overflow-y: auto;height: 600px">
        <div class="d-none d-lg-flex">
            <img src="{{ asset('assets/images/Author.jpg') }}">
        </div>
        <div class="d-flex d-lg-none">
            <img src="{{ asset('assets/images/Author-mobile.jpg') }}">
        </div>


    </div>


    <div id="about">

        <div id="portfolio" class="our-portfolio section">
            <div class="portfolio-left-dec">
                <img src="assets/images/portfolio-left-dec.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">

                        <div class="section-heading">
                            <h2>Gagner en visibilité <em>en devenant</em> &amp; <span>Partenaire</span></h2>
                            <span>Nos Coffrets</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-carousel owl-portfolio">
                            <div class="item">
                                <div class="thumb">
                                    <img src="{{ asset('assets/images/sell/a1.jpeg') }}" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{{ asset('assets/images/sell/a2.jpeg') }}" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{{ asset('assets/images/sell/a3.jpeg') }}" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{{ asset('assets/images/sell/a4.jpeg') }}" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{{ asset('assets/images/sell/a5.jpeg') }}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="service">
        <div id="pricing" class="pricing-tables">
            <div class="tables-left-dec">
                <img src="assets/images/tables-left-dec.png" alt="">
            </div>
            <div class="tables-right-dec">
                <img src="assets/images/tables-right-dec.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="section-heading">
                            <h2>Choisissez un <em>plan adapté</em> à votre <span>budget</span></h2>
                            <span>Nos Offres</span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="item first-item">
                            <h4>Bronze</h4>
                            <span>10.000 CFA</span>
                            <ul>
                                <li>1 Livre</li>
                                <li>Dédicacé par l'auteur</li>
                                <li>.</li>
                            </ul>
                            <div class="main-blue-button-hover">
                                <a class="commande" href="#">Commander</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="item first-item">
                            <h4>Silver</h4>
                            <span>25.000 CFA</span>
                            <ul>
                                <li>1 Livre</li>
                                <li>1 Tickets</li>
                                <li>.</li>
                            </ul>
                            <div class="main-blue-button-hover">
                                <a class="commande" href="#">Commander</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="item first-item">
                            <h4>Gold</h4>
                            <span>50.000 CFA</span>
                            <ul>
                                <li>3 Livre</li>
                                <li>2 Tickets</li>
                                <li>.</li>
                            </ul>
                            <div class="main-blue-button-hover">
                                <a class="commande" href="#">Commander</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="item first-item">
                            <h4>Platine</h4>
                            <span>100.000 CFA</span>
                            <ul>
                                <li>5 Livre</li>
                                <li>3 Tickets</li>
                                <li>1 Conference</li>
                            </ul>
                            <div class="main-blue-button-hover">
                                <a class="commande" href="#">Commander</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3">
                        <div class="item first-item">
                            <h4>Diamond</h4>
                            <span>500.000 CFA</span>
                            <ul>
                                <li>20 Livre</li>
                                <li>10 Tickets</li>
                                <li>3 Conferences</li>
                            </ul>
                            <div class="main-blue-button-hover">
                                <a class="commande" href="#">Commander</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="commande">
        <div id="contact" class="contact-us section">
            <div class="container">
                <form class="contact-form" action="#" method="get">
                </form>
            </div>

            <div class="section-heading p-5">
                <h2 class="text-center">Contactez <em>Nous</em></h2>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="info text-center">
                                <span><i class="fa fa-phone"></i> <a
                                            href="#">+227 89 99 14 49<br>+227 94 20 34 34</a></span>
                            <span><i class="fa fa-envelope"></i> <a href="#">ptrniger9@gmail.com<br>ptr-niger.com</a></span>
                            <span><i class="fa fa-map-marker"></i> <a href="#">Niamey/Niger<br>Boukoki II</a></span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-dec">
        <img src="assets/images/contact-dec.png" alt="">
    </div>
    <div class="contact-left-dec">
        <img src="assets/images/contact-left-dec.png" alt="">
    </div>
    </div>


{% endblock %}
