<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le leadership de Kirikou{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23652f18'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 20v2H5v-2H2V4h2V2h14v2h2v16h-2zM5 5v14h14V5H5zm2 2h10v10H7V7zm2 2v2h2V9h2v2h-2v2h-2V9H9zm0 4h2v2H9v-2zm0-4v2h2V9H9z'/%3E%3C/svg%3E">

        {% block stylesheets %}
            <!-- Inclure ici les liens vers les fichiers CSS personnalisés -->
        {% endblock %}

        {% block javascripts %}
            <!-- Inclure ici les liens vers les fichiers JavaScript personnalisés -->
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Découvrez 'Le leadership de Kirikou', un livre captivant qui explore les principes du leadership à travers les aventures inoubliables de Kirikou. Plongez dans un monde où le courage, la sagesse et l'empathie">
        <meta name="keywords" content="le leadership de kirikou, livre, leadership, courage, sagesse, empathie">
        <meta name="author" content="Moubarak PDM">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- Open Graph metadata -->
        <meta property="og:title" content="Le leadership de Kirikou">
        <meta property="og:description" content="Découvrez 'Le leadership de Kirikou', un livre captivant qui explore les principes du leadership à travers les aventures inoubliables de Kirikou. Plongez dans un monde où le courage, la sagesse et l'empathie">
        <meta property="og:image" content="{{ asset('assets/images/sell/4.jpg') }}">
        <meta property="og:image:alt" content="Le Livre">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:url" content="https://sucess-publishing.ptr-niger.com">
        <meta property="og:type" content="website">

        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{{asset('assets/css/fontawesome.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/animated.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/owl.css')}}">

    </head>
    <body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index-2.html" class="logo">
                            <img src="assets/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#" class="active">Menu</a></li>
                            <li class="scroll-to-section"><a href="#" class="service">Plans</a></li>
                            <li class="scroll-to-section"><a href="#" class="about">Apropos de Nous</a></li>
                            <li class="scroll-to-section"><a href="#" class="commande">Commande</a></li>
                            <li class="scroll-to-section"><div class="main-red-button-hover commande"><a href="#">Nous Contacter</a></div></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    {% block body %}{% endblock %}

        <!-- Scripts -->
        <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('assets/js/owl-carousel.js')}}"></script>
        <script src="{{asset('assets/js/animation.js')}}"></script>
        <script src="{{asset('assets/js/imagesloaded.js')}}"></script>
        <script src="{{asset('assets/js/custom.js')}}"></script>
    <script>
        $(document).ready(function() {
            $('.service').click(function(e) {
                e.preventDefault();
                // Faites quelque chose lorsque le bouton Services est cliqué
                // Par exemple, faites défiler vers la section correspondante
                scrollToSection('#service');
            });

            $('.about').click(function(e) {
                e.preventDefault();
                // Faites quelque chose lorsque le bouton À Propos de Nous est cliqué
                // Par exemple, faites défiler vers la section correspondante
                scrollToSection('#about');
            });

            $('.commande').click(function(e) {
                e.preventDefault();
                // Faites quelque chose lorsque le bouton Commandes est cliqué
                // Par exemple, faites défiler vers la section correspondante
                scrollToSection('#commande');
            });

            function scrollToSection(sectionId) {
                $('html, body').animate({
                    scrollTop: $(sectionId).offset().top
                }, 1000);
            }
        });

    </script>
    </body>
</html>
