<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SUCCESS PUBLISHING</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{asset('assets2/img/iconLogo-Success-Publishing.png')}}">
    <!-- Place favicon.ico in the root directory -->
    {% block stylesheets %}
        <!-- Inclure ici les liens vers les fichiers CSS personnalisés -->
    {% endblock %}

    {% block javascripts %}
        <!-- Inclure ici les liens vers les fichiers JavaScript personnalisés -->
    {% endblock %}
    <!-- CSS here -->
    <link rel="stylesheet" href="{{asset('assets2/css/01-bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/02-all.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/03-jquery.magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/04-nice-select.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/05-odometer.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/06-swiper.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/07-animate.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/08-custom-animate.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/09-slick.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/10-icomoon.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/vendor/custom-animate/custom-animate.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/vendor/jarallax/jarallax.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/vendor/odometer/odometer.min.css')}}">

    <link rel="stylesheet" href="{{asset('assets2/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('assets2/css/responsive.css')}}">
</head>

<body class="body-gray-bg">

<!-- preloader -->
<div id="preloader">
    <div id="loading-center">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
        </div>
    </div>
</div>
<!-- preloader-end -->

{% block body %}{% endblock %}



<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="icon-arrowhead-up"></i>
</button>
<!-- Scroll-top-end-->






<!-- JS here -->
<script src="{{asset('assets2/js/jquery-3.6.0.min.js')}}"></script>
<script src="{{asset('assets2/js/01-ajax-form.js')}}"></script>
<script src="{{asset('assets2/js/02-bootstrap.min.js')}}"></script>
<script src="{{asset('assets2/js/03-jquery.appear.js')}}"></script>
<script src="{{asset('assets2/js/04-swiper.min.js')}}"></script>
<script src="{{asset('assets2/js/05-jquery.odometer.min.js')}}"></script>
<script src="{{asset('assets2/js/06-jquery.magnific-popup.min.js')}}"></script>
<script src="{{asset('assets2/js/07-jquery.nice-select.min.js')}}"></script>
<script src="{{asset('assets2/js/08-slick.min.js')}}"></script>
<script src="{{asset('assets2/js/09-wow.min.js')}}"></script>
<script src="{{asset('assets2/js/10-jquery.circleType.js')}}"></script>
<script src="{{asset('assets2/js/11-jquery.lettering.min.js')}}"></script>
<script src="{{asset('assets2/js/12-TweenMax.min.js')}}"></script>
<script src="{{asset('assets2/vendor/jarallax/jarallax.min.js')}}"></script>
<script src="{{asset('assets2/vendor/marquee/marquee.min.js')}}"></script>
<script src="{{asset('assets2/vendor/odometer/odometer.min.js')}}"></script>




<script src="{{asset('assets2/js/main.js')}}"></script>


</body>



</html>