<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card" style="border-radius: 10px">
            <div class="card-title"><h2 class="text-center">Commander ton Livre</h2></div>
            <div class="card-body">
                {{ form_start(form) }}

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.prenom) }}
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.adresse) }}
                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.numero) }}
                            {{ form_widget(form.numero, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.abonnement) }}
                            {{ form_widget(form.abonnement, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>