<div class="row justify-content-center">
    <div class="col-12">
        <div class="card" style="border-radius: 10px">
            <div class="card-title"><h2 class="text-center">Commander ton Coffret</h2></div>
            <div class="card-body">
                {{ form_start(form) }}

                <div class="row">
                    <div class="col-6">
                        <fieldset>
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </fieldset>
                    </div>
                    <div class="col-6">
                        <fieldset>
                            {{ form_label(form.prenom) }}
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <fieldset>
                            {{ form_label(form.adresse) }}
                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                        </fieldset>
                    </div>
                    <div class="col-6">
                        <fieldset>
                            {{ form_label(form.numero) }}
                            {{ form_widget(form.numero, {'attr': {'class': 'form-control'}}) }}
                        </fieldset>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 text-center">
                        <fieldset>
                            Plan
                            {{ form_widget(form.abonnement, {'attr': {'class': 'form-control text-center'}}) }}
                        </fieldset>
                    </div>
                </div>
                    <div class="text-center mt3">
                        <fieldset>
                            <button type="submit" id="form-submit" class="main-button">Valider</button>
                        </fieldset>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>