{% extends 'base.html.twig' %}

{% block title %}Achat index{% endblock %}

{% block body %}
    <h1>Achat index</h1>
<div id="about" class="about-us section">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="inner-content">
                <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Numero</th>
                <th>Abonnement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achat in achats %}
            <tr>
                <td>{{ achat.id }}</td>
                <td>{{ achat.nom }}</td>
                <td>{{ achat.prenom }}</td>
                <td>{{ achat.adresse }}</td>
                <td>{{ achat.numero }}</td>
                <td>{{ achat.abonnement }}</td>
                <td>
                    <a href="{{ path('app_achat_show', {'id': achat.id}) }}">show</a>
                    <a href="{{ path('app_achat_edit', {'id': achat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <a href="{{ path('app_achat_new') }}">Create new</a>
{% endblock %}
